<% doc_presenter = show_presenter(document) %>
<%# default partial to display solr document fields in catalog show view -%>
<dl class="row dl-invert document-metadata">
  <% doc_presenter.fields_to_render.each do |field_name, field| -%>
    <dt class="blacklight-<%= field_name.parameterize %> col-md-3"><%= render_document_show_field_label document, field: field_name %></dt>
    <dd class="blacklight-<%= field_name.parameterize %> col-md-9">
    <% if  field_name == 'author_json' -%>
          <% document['author_json'].each do |authority| %>
          	<% heading = JSON.parse(authority) %>
                <% if heading["name1"] %>
                   <%= heading["name1"] %>
                <% end %>
          	<% if heading["authorizedForm"] == true %> 
          		<% type = heading['type']  %>
          		<% if heading['search2'].present?  %>
         		 	<% search = heading['search2'] %>
         	 	<% else search = heading['search1']  %>
         	 	<% end %>
			  <button type"button" class="btn btn-primary" role="button" tabindex = "0" data-auth='<%=search %>' datasearch-poload='/browse/info?authq=<%=  search %>&amp;browse_type=Author&amp;headingtype=<%=  type %>' id="info"><span class="label label-info">
				  Info
			  </span>
			  </button>
           	<% end %>
	<% end %>
<%= doc_presenter.field_value field %>

<% else %>
  <%= doc_presenter.field_value field %>
<% end %>
  <% end -%>
</dd>
</dl>

