<% if group == "Circulating"  || group == "Rare" %>
<% # request_context_path = ( group == "Circulating" ) ? blacklight_cornell_request.magic_request_path("#{params[:id]}") :  "http://wwwdev.library.cornell.edu/aeon/monograph.php?bibid=#{params[:id]}&libid=#{aeon_codes.join('|')}" %>
<% request_context_path = request_path(group,params[:id],aeon_codes,@document) %>
<% request_scan_path = sub_tilde_path('AEON_SCAN_REQUEST',params[:id],aeon_codes,@document) %>
<% @group = group %>
<div class="item-requests">
  <% counter = params[:counter] || session[:search][:counter] %>
  <% if (not_spif > 0)    %>
    <% if group == 'Rare'%>
      <%= 'Reading Room delivery and scans of these materials are temporarily unavailable.' %>
    <% elsif counter.blank? %>
      <%= link_to "Request item#{reading}", request_context_path, { :title => 'Request', :class => 'btn btn-danger', :id => 'id_request' }  %>
      <%= link_to "Request item for scanning", request_scan_path, { :title => 'Request', :class => 'btn btn-default', :id => 'id_request2' } unless reading.empty?   %>
    <% else %>
      <%= link_to "Request item#{reading}", request_context_path, { :title => 'Request', :class => 'btn btn-danger', 'data-counter'.to_sym => counter, :id => 'id_request' } %>
      <%= link_to "Request item for scanning", request_scan_path , { :title => 'Request', :class => 'btn btn-default', :id => 'id_request2' }  unless reading.empty? %>
    <% end %>
  <% end %>

</div>
<% end %>
